  <div class="bg">
        <div class="flex-container" *ngIf="checkIsFavoriteEmpty()==false">
          <div *ngFor="let fav of favorites index as i" (click)="getDetailes(fav)">
              <div>
                <div class="row">
                  <div class="col"><b>{{fav.city.cityName}} - {{fav.city.cityKey}}</b></div>               
                </div>
                <div class="row">
                    <div class="col"><b>Temperature:</b> {{fav.maxTemperature[0]}}</div>
                </div>
                <div class="row">
                    <div class="col"><b>Day:</b> {{fav.fiveDaysForecasts[0]}}</div>
                </div>
                <div class="row">
                    <div class="col"><b>Night: </b>{{fav.fiveNightForecasts[0]}}</div>
                </div>
                <div class="row">
                    <div class="col"><button class="btn btn-danger"  (click)="removeFromFavorites(fav)">Delete</button></div>
                </div>
              </div>
            </div>  
          </div>
          <div class="center" *ngIf="checkIsFavoriteEmpty()==true">
            <h1>Not Favorites Yet</h1>
          </div>
          </div>