<div class="bg">
<div class="container">
      <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">City</th>
                <th scope="col">Day</th>
                <th scope="col">Night</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fav of favorites" (click)="getDetailes(fav)">
                <td><button class="btn btn-danger"  (click)="removeFromFavorites(fav)">-</button></td>
                <td>{{fav.city.cityKey}}</td>
                <td>{{fav.city.cityName}}</td>
                <td>{{fav.fiveDaysForecasts[0]}}</td>
                <td>{{fav.fiveNightForecasts[0]}}</td>
                
              </tr>
            </tbody>
          </table>
        </div>
        </div>