

    <div class="autocomplete"  style="width:300px;">
      <input id="myInput" [(ngModel)]="city.cityName" (keyup)="onKey($event)" type="text" name="myCountry"  placeholder="Country">
    </div>
    <input type="submit" (click)="sendData()" value="Submit">
    <div  class="scrolling" *ngIf="city.cityName != '' && city.cityName != null">
        <div (click)="setValue(city)" *ngFor="let city of cities">{{city.LocalizedName}}</div>
    </div>

                  <div class="card" style="width: 60rem;"  >
                        <div class="card-body">
                          <h5 class="card-title">{{forecasts.cityName}}</h5>
                          <table class="table">
                                <thead>
                                  <tr>
                                    <th *ngFor="let date of forecasts.dates" scope="col">{{date}}</th>
                                  </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td *ngFor="let day of forecasts.fiveDaysForecasts">
                                        <b>Day: </b> {{day}}
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngFor="let night of forecasts.fiveNightForecasts">
                                            <b>Night: </b> {{night}}
                                        </td>
                                    </tr>
                                </tbody>
                              </table>
                              <button *ngIf="checkIfCityExist()==-1" type="button" class="btn btn-success" (click)="AddToFavorites()">Add</button>
                              <button *ngIf="checkIfCityExist()!=-1" type="button" class="btn btn-danger"(click)="removeFromFavorites()">Remove</button>
                        </div>
                      </div>
